.v-clip-explorer
  .checkbox.show-only-annotated-clip
    margin-bottom -10px

  .back-button
    position relative
    left 5px

  .location
    .divider
      margin 0 3px

  .folders-container
    margin-top 5px
    margin-bottom 5px
  
  .reimport-container
    margin-bottom 0

  ul.folders
    list-style none
    padding 0
    max-height 60vh
    overflow auto
    margin-left -5px

    li
      cursor pointer
      padding 5px

      &:hover
        background #BAE0FF

      &.selected
        background #AAD0F9

      .file-icon
        margin-right 4px

      .annotated-icon
        font-size 12px
        margin-left 4px

      .image-container
        margin-top 3px
