.v-activity-creator
  flex 1

  .panel
    display flex
    flex-direction column

  .panel-body
    flex 1 1 0
    display flex
    flex-direction column
    padding-top 10px

    form.form-horizontal
      display flex
      flex-direction column

  .frame-button-container
    text-align right
  
  .tracks-header
    font-size 12px
    font-weight bold

  .track-item
    margin-bottom 2px
    margin-left 10px

  .form-group
    margin-bottom 2px

  ul.tracks
    list-style none
    padding 0
    overflow-y auto
    overflow-x hidden
    flex 1

    li
      .form-group
        margin-right 0

        button
          display none

        &:hover
          button
            display block

        .range
          padding-left 0
          padding-right 5px

  .bottom-row
    text-align right
