.v-index
  margin-top 30px
  height calc(100% - 30px)
  display flex
  flex-flow row

  .left-sidebar
    width 320px
    padding 1px
  
  .main
    flex 1
    padding 1px

  .right-sidebar
    width 240px
    padding 1px

.panel
  border-radius 2px

  .panel-heading
    padding 7px 10px
    border-radius 2px
    cursor default

  .panel-body
    padding 7px 10px
