// overwrite
fieldset
  legend
    font-size inherit
    color inherit

.form-group-xs .form-control,
.input-group-xs > .form-control,
.input-group-xs > .input-group-addon,
.input-group-xs > .input-group-btn > .btn 
  height 23px
  padding 1px 5px
  font-size 12px
  line-height 1.5


.form-horizontal .form-group-xs .control-label 
  padding-top 3px
  font-size 12px
  padding-right 0

.form-group-xs .form-control-static
  height 23px
  padding 1px 0
  min-height 23px


// global

.app
  display flex
  flex-direction column

.v-index
  height 100%
  flex 1
  display flex
  flex-flow row

  .left-sidebar
    width 300px
    padding 1px
    display flex
    flex-direction column
    
    .treeview-container
      flex 1

    .objectinfo-container
      height 300px

  .main
    flex 1
    padding 1px

  .right-sidebar
    width 240px
    padding 1px

.panel
  border-radius 3px

  .panel-heading
    padding 0.3em 0.5em
    border-radius 3px 3px 0 0
    cursor default
    text-align center

  .panel-body
    padding 3px

  .nav.nav-tabs
    width 100%
    display table
    border none

    > li
      display table-cell
      text-align center
      white-space nowrap
      margin initial
      float none

      > a
        padding 0 0.5em
        border none

    > li:not(:first-child)
      border-left 1px solid #ddd

    > li:not(.active)
      opacity 0.6

    li.active > a
        background none
        border-radius 3px
