.v-track-pane
  padding-left 40px

  ul
    list-style none
    padding-left 20px

  div.checkbox
    margin-top 0
    margin-bottom 1px
    padding-left 5px

    &.selected
      background #efefef

    label
      padding-right 5px

      &.editing
        // overwrite base girder
        background-color inherit
        font-weight bold
