.v-infoview
  flex 1

  .panel
    height 100%
    display flex
    flex-direction column

  .panel-body
    flex 1 1 0
    position relative
    height 100%
    display flex
    flex-direction column
    overflow-y hidden

  ul
    flex 1
    overflow-y auto

    &.detection
      padding-left 20px

    &.activity
      padding-left 15px

    li
      &.track
        margin-bottom 10px

      &.activity
        margin-bottom 2px

  .clear-message
    align-self flex-end
    text-align center
    opacity 0.6
