.v-infoview
  height 100%

  .panel
    height 100%
    display flex
    flex-direction column

  .panel-body
    flex 1

  ul
    &.geometry
      padding-left 20px

    &.activity
      padding-left 15x

    li
      &.track
        margin-bottom 10px

      &.activity
        margin-bottom 2px
