.v-header-wrapper
  padding 1px

  .load-button-wrapper
    float left

  .clip-name
    float left
    padding 4px 0
    margin-left 10px

  a, a:visited
    color #333
    &:hover
      text-decoration underline !important

  .v-current-user-wrapper
    float right
    padding 0 1em

  .toolbutton
    a
    button.btn
      display inline-block
      vertical-align center
      padding 3px 4px

    a
      border 1px solid transparent
