.v-trackattribute
  .panel.panel-default
    .panel-heading
      | Track Attribute
    .panel-body
      ul
        each attributes, category in trackAttributes
          li=category
            ul
              each attribute in attributes
                li
                  .checkbox
                    label
                      input(type='checkbox')
                      =attribute
