.v-viewer
  .panel.panel-default
    .panel-heading
      br
    .panel-body
      .video(assume-no-change)
      .control
        .buttons
          button.fast-backward
            i.icon-fast-bw
          button.reverse
            i.icon-play
          button.previous-frame
            i.icon-to-start
          if !playing
            button.play
              i.icon-play
          else
            button.pause
              i.icon-pause
          button.next-frame
            i.icon-to-end
          button.fast-forward
            i.icon-fast-fw
        .slider(assume-no-change)
          input.frame-slider
