.v-activity-pane
  height 100%
  display flex
  flex-direction column

  ul
    list-style none
    flex 1
    overflow-y auto
    margin-bottom 5px
    padding-left 25px

  div.checkbox
    margin-top 0
    margin-bottom 1px

    &.selected
      background #efefef

  .selection-buttons
    width 100%

    button
      width 50%
