.v-viewer
  height 100%

  .panel
    height 100%
    display flex
    flex-direction column

    .panel-body
      position relative
      flex 1
      display flex
      flex-direction column

      .video
        flex 1

  .no-annotation-message
    position absolute
    top 4px
    left 4px
    z-index 1
    padding 5px
  
  .control
    padding-top 3px

    .buttons
      width auto
      margin 0 auto
      display flex
      height 30px

      > button
        flex 1

        i
          position relative
          top -2px

      .reverse
        .icon-play
          &::before
            transform rotate(180deg)

    .time-control
      display flex
      align-items center

      .slider
        flex 1

      .spinbox
        margin-left 4px
