.v-viewer
  height 100%

  .panel
    height 100%
    display flex
    flex-direction column

    .panel-body
      position relative
      flex 1
      display flex
      flex-direction column

      .video-container
        flex 1
        position relative

        .video
          position absolute
          top 0
          bottom 0
          left 0
          right 0

      .control-bar
        margin-bottom 2px

        button
          margin-right 5px

  .message
    position absolute
    top 3px
    right 3px
    z-index 1
    padding 0 0.5em
    border-radius 0
    background rgba(240, 240, 240, 0.5)
    border 1px solid rgba(100, 100, 100, 0.5)
    color #222

  .error-message
    background rgba(255, 224, 224, 0.5)
    border 1px solid rgba(160, 80, 80, 0.5)
    color #400

  .control
    padding-top 3px

    .buttons

      > .btn-group
        margin 0 auto
        display flex

        &.side
          float left
          max-width 80px
        
        &.middle
          max-width 350px

        > button
          flex 1

        button.play, button.pause
          width 80px

    .time-control
      display flex
      align-items center

      .slider
        flex 1

      .spinbox
        margin-left 4px

  .v-viewer-wrapper.geojs-map
    z-index 0

  .v-viewer-wrapper.geojs-map:focus
    outline none
