.dodont
  width 100%

  .image-container
    width 50%
    display inline-block
    padding 3px
    position relative
    padding-bottom 50%

    .marker
      position absolute
      top 10px
      left 10px
      font-size 50px
      text-shadow 0px 0px 9px rgba(255, 255, 255, 1)
      z-index 1

      &.do
        color #00bb10
      
      &.dont
        color red

    img
      width 100%
      position absolute
