.v-treeview
  height 100%

  .panel
    height 100%
    display flex
    flex-direction column
    margin-bottom 0

  .panel-body
    position relative
    height 100%
    flex 1

  .tab-content
    position absolute
    top 3px
    left 3px
    right 3px
    bottom 3px
    overflow-y scroll
