.v-treeview
  height 100%

  .panel
    height 100%
    display flex
    flex-direction column

  .panel-body
    overflow-y scroll

  .nav.nav-tabs li a
    padding 2px 3px

  ul.item-list
    list-style none
    padding-left 40px

    .checkbox
      margin-top 3px
      margin-bottom 3px