.v-detection-widget
  flex 1

  .panel
    height 100%
    display flex
    flex-direction column
    margin-bottom 0

  .panel-body
    position relative
    height 100%
    flex 1 1 0
    display flex
    flex-direction column
    padding-top 10px

  form
    margin-left 4px

  .bottom-row
    text-align right
