.v-activity-creator
  flex 1

  .panel
    display flex
    flex-direction column

  .panel-body
    flex 1 1 0
    display flex
    flex-direction column
    padding-top 10px

  .frame-button-container
    text-align right
  
  .tracks-header
    font-size 12px
    font-weight bold

  ul.tracks
    list-style none
    padding 0

    li
      .remove-button
        visibility hidden

      &:hover
        .remove-button
          visibility visible

  .no-padding[class^="col-xs-"]
    padding 0

  .action-buttons-container
    text-align right

  .bottom-row
    position absolute
    width 100%
    bottom 10px
