.v-interpolation-widget
  flex 1

  .panel
    display flex
    flex-direction column

  .panel-body
    flex 1 1 0
    display flex
    flex-direction column
    padding-top 10px

    .geometries-label
      margin-top 10px

    .geometries-container
      flex 1
      overflow-y auto
      overflow-x hidden

      .geometry
        button
          visibility hidden

        &:hover
          button
            visibility visible

  .bottom-row
    text-align right
